<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .image{
            display: flex;
            justify-content: center;
            margin-top: 180px;
        }
        .image img{
            width: 1300px;
            height: 250px;
            transform: rotate(5deg);
        }
    </style>
</head>
<body>
    <div class="image">
        <img src="https://marketplace.canva.com/EAE8JBRVoo8/1/0/1600w/canva-sorry-we-are-closed-sign-with-watercolor-background-instagram-post-9_AXjRxIkCc.jpg" alt=""/>
    </div>
</body>
</html>